@import '../../styles/_colors.scss';

.Events {
    height: 100vh;
    width: 100vw;
    background: $background;
    

    @import url('https://fonts.googleapis.com/css?family=Roboto');
    @import url('https://fonts.googleapis.com/css?family=Lato');

    font-family: 'Lato';
    font-weight: 500;

    .main {
        display: flex;
        justify-content: center;
        // border: 2px solid red;
    }

    .feed-container {
        height: 100vh;
        width: 80vw;
        display: flex;
        justify-content: center;
        border: 2px solid $white;
        border-left: none;
        border-right: none;
        border-bottom: none;
        
        // align-content: center;
        // align-items: center;
        // border: 1px solid purple;
        // align-items: center;
    }

    .events-header {
        width: 80vw;
        font-family: "Raleway";
        color: $white;
        font-size: 4vh;
        font-weight: bold;
        margin-top: 3vh;
        margin-left: 20vh;
        margin-bottom: 1vh;
        // border: 2px solid green;
    }

    .event-main {
        height: 100%;
        width: 68vw;
        display: flex;
        justify-content: space-between;
        margin-top: 7vh;
        
        // border: 1px solid red;
    }


    .event-feed {
        height: 65%;
        width: 39.8vw;
        border: 1px solid grey;
        border-bottom: none;
        border-right: none;
        border-left: none;
        border-radius: 5px;
        box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1), 0 6px 6px 0 rgba(0,0,0,0.2);
        
    }

    .btn {
        background-color: $white;
        color: grey;
        box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1), 0 6px 6px 0 rgba(0,0,0,0.2);
        
    }

    .view-select-container {
        height: 100%;
        width: 20vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        // border: 1px solid green;
    }

    .view-select {
        height: 16.9vh;
        width: 15vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 5px;
        background: $white;
        color: grey;
        margin-top: 7vh;
        // justify-content: space-around;
        // justify-content: center;
        // align-items: center;
        // display: block;
        // text-align: left;
        border: 1px solid grey;
        box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1), 0 6px 6px 0 rgba(0,0,0,0.2);
        
    }

    .view-select div {
        margin-left: .5vw;
        // border: 1px solid black;
    }

    .view-select hr {
        width: 99.2%;
    }

    .calendar {
        margin-top: 7vh;
    }

    .event-card {
        height: 13vh;
        width: 39.8vw;
        display: flex;
        border: 1px solid grey;
        // border-left: none;
        // border-right: none;
        border-top: none;
        background: $white;
        border-radius: 5px;
    }


    .card-content {
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: grey;
        // align-items: center;
        // text-align: left;
        // align-content: center;
        // border: 1px solid blue;
    }

    .card-date {
        width: 20%;
        display: flex;
        flex-direction: column;
        color: grey;
        margin-left: .5vw;
        margin-top: .5vh;
        // border-right: 1px solid grey;
        // border: 1px solid red;
    }

    .card-title {
        color: black;
        font-weight: 900;
        font-size: 1.1em;
    }

    .fix-link {
        text-decoration: none;
        cursor: pointer;
        color: grey;
      }

    .read-more {
        margin-top: .87vh;
        font-size: .7em;
    }
}
















// .Events {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;

//     .view-select {
//         display: flex;
//         flex-direction: row;
//         justify-content: center;
//         align-items: center;
//         font-size: 20px;  
//         margin-top: 5px;      
        
//         .button {
//             margin: 5px;
//             padding: 5px;
//         }

//         .button:hover {
//             text-shadow: 1px 1px #c5bcbc;    
//         }

//         .button-selected {
//             margin: 5px;
//             padding: 5px;
//             text-shadow: 1px 1px #c5bcbc;           
//         }
//     }

//     .events-holder {
//         width: 75%;
//         height: 80vh;
//         display: flex;
//         flex-direction: row;
//         justify-content: center;
//         align-items: center;    
//     }

//     .right-holder {
//         width: 50%;
//         height: 100%;
//         display: flex;
//         justify-content: space-between;
//         flex-wrap: wrap;
//         align-items: flex-start;
//         align-content: space-between;
//         padding: 20px;
//     }

//     .left-holder {
//         width: 50%;
//         height: 100%;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         padding: 20px;
//     }

//     .featured-event {
//         height: 100%;
//         width: 100%;
//         border: solid 1px black;   

//     }

//     .event {
//         width: 45%;
//         height: 47%;
//         border: solid 1px black;
//     }
// }

.modal {
    .form-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .right-container {
        width: 68%;
        height: 75vh;
        background-color: rgba(190, 187, 187, .1);
        border-radius: 5px;  
        display: flex;
        justify-content: center;
        align-items: center;      

        .img {
            min-width: 20%;
            max-width: 100%;
            min-height: 20%;
            max-height: 100%;
        }
    }

    .left-container {
        width: 28%;
        height: 75vh;        
        display: flex;
        flex-direction: column;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 5px;
        border: solid 1px lightgray;
        border-radius: 5px;
    }

    .input-holder {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

