@import url("https://fonts.googleapis.com/css?family=Roboto");
.Messages {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px; }

.Messages_container {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  width: 75%;
  height: 75%;
  overflow: scroll;
  margin-right: 150px;
  margin-left: 150px; }
  .Messages_container .Messages_temporary {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid black; }
    .Messages_container .Messages_temporary .messages_user {
      border: 1px solid black;
      padding: 5px;
      width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 10px; }
    .Messages_container .Messages_temporary .messages_subject {
      padding: 5px;
      width: 300px;
      margin-left: 20px;
      text-overflow: ellipsis;
      overflow: hidden; }
    .Messages_container .Messages_temporary .messages_time {
      color: gray;
      padding: 5px;
      width: 75px; }
    .Messages_container .Messages_temporary .usericonholder {
      display: flex;
      width: 150px;
      justify-content: center;
      align-items: center;
      flex-direction: row; }
    .Messages_container .Messages_temporary .messages_icon {
      margin: 10px; }
    .Messages_container .Messages_temporary .messages_read {
      margin: 10px; }

.Navbar {
  /*the colors of the different columns*/ }
  .Navbar .side-menu {
    width: 14em;
    height: auto;
    margin: 4em auto 0;
    font-size: 1em;
    line-height: 2em;
    color: #C0B283;
    font-weight: 700;
    letter-spacing: -0.1em;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10em; }
  .Navbar .side-menu ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .Navbar .side-menu ul li {
    display: block;
    background-color: #333;
    height: 6.5vh;
    padding: 1em 1.5em;
    position: relative;
    -webkit-transition: -webkit-transform 0.5s,     background-color .5s, color .5s;
    transition: transform .5s, background-color .5s, color .5s; }
  .Navbar .side-menu ul li:nth-child(1) {
    background-color: #fff;
    border: 2px solid #000;
    border-bottom: none; }
  .Navbar .side-menu ul li:nth-child(2) {
    background-color: #fff;
    border: 2px solid #000; }
  .Navbar .side-menu ul li:nth-child(3) {
    background-color: #fff;
    border: 2px solid #000; }
  .Navbar .side-menu ul li:nth-child(4) {
    background-color: #fff;
    border: 2px solid #000;
    border-bottom: none;
    border-top: none; }
  .Navbar .side-menu ul li:nth-child(5) {
    background-color: #fff;
    border: 2px solid #000; }
  .Navbar .side-menu ul li:nth-child(6) {
    background-color: #fff;
    border: 2px solid #000; }
  .Navbar .side-menu ul li:hover {
    background-color: #000;
    /*you can make different colors depending on the nth-child like above*/
    -webkit-transform: translateX(10em);
    transform: translateX(10em);
    /*equal to left in the .side-menu*/ }
  .Navbar .side-menu ul li a {
    display: block;
    color: #C0B283;
    text-decoration: none; }
  .Navbar .side-menu ul li span {
    display: block;
    position: absolute;
    font-size: 1em;
    line-height: 2em;
    height: 3vh;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    padding: 1em 1.5em;
    right: 0.16666666666667em;
    color: #C0B283; }
  .Navbar i.icon {
    font-size: 2em;
    margin-right: -.8vw;
    text-decoration: none;
    cursor: pointer;
    color: #C0B283; }
  .Navbar .fix_link {
    text-decoration: none;
    cursor: pointer;
    color: #C0B283; }

.PostPage .content-parent {
  height: 100vh;
  width: 100vw; }

.PostPage .content-main {
  display: flex;
  flex-direction: column;
  justify-content: center; }
