@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url("https://fonts.googleapis.com/css?family=Roboto");
.Events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .Events .view-select {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 5px; }
    .Events .view-select .button {
      margin: 5px;
      padding: 5px; }
    .Events .view-select .button:hover {
      text-shadow: 1px 1px #c5bcbc; }
    .Events .view-select .button-selected {
      margin: 5px;
      padding: 5px;
      text-shadow: 1px 1px #c5bcbc; }
  .Events .events-holder {
    width: 75%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .Events .right-holder {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-between;
    padding: 20px; }
  .Events .left-holder {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; }
  .Events .featured-event {
    height: 100%;
    width: 100%;
    border: solid 1px black; }
  .Events .event {
    width: 45%;
    height: 47%;
    border: solid 1px black; }

.modal .form-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.modal .right-container {
  width: 68%;
  height: 75vh;
  background-color: rgba(190, 187, 187, 0.1);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .modal .right-container .img {
    min-width: 20%;
    max-width: 100%;
    min-height: 20%;
    max-height: 100%; }

.modal .left-container {
  width: 28%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  border: solid 1px lightgray;
  border-radius: 5px; }

.modal .input-holder {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px; }

.GroupPageAllFeed { }
  .GroupPageAllFeed .fix-link {
    cursor: pointer;
    text-decoration: none;
    color: #000; }
  .GroupPageAllFeed h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300; }
  .GroupPageAllFeed .row {
    max-width: 900px;
    margin: 50px auto 0; }
  .GroupPageAllFeed .card {
    float: left;
    padding: 0 1.7rem;
    width: 33%; }
  .GroupPageAllFeed .card .menu-content {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .GroupPageAllFeed .card .menu-content::before, .GroupPageAllFeed .card .menu-content::after {
    content: '';
    display: table; }
  .GroupPageAllFeed .card .menu-content::after {
    clear: both; }
  .GroupPageAllFeed .card .menu-content li {
    display: inline-block; }
  .GroupPageAllFeed .card .menu-content span {
    position: absolute;
    left: 50%;
    top: 0;
    font-size: 10px;
    font-weight: 700;
    font-family: 'Open Sans';
    transform: translate(-50%, 0); }
  .GroupPageAllFeed .card .wrapper {
    background-color: #fff;
    min-height: 540px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
    margin-bottom: 100px; }
  .GroupPageAllFeed .card .wrapper:hover .data {
    transform: translateY(0); }
  .GroupPageAllFeed .card .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(70px + 1em));
    transition: transform 0.3s; }
  .GroupPageAllFeed .card .data .content {
    padding: .5em;
    position: relative;
    z-index: 1; }
  .GroupPageAllFeed .card .author {
    font-size: 12px; }
  .GroupPageAllFeed .card .title {
    margin-top: 10px; }
  .GroupPageAllFeed .card .text {
    height: 70px;
    margin: 0; }
  .GroupPageAllFeed .card input[type='checkbox'] {
    display: none; }
  .GroupPageAllFeed .wrapper {
    background: url(http://www.qygjxz.com/data/out/255/5074721-white-background-images.jpg) center/cover no-repeat; }
  .GroupPageAllFeed .wrapper:hover .menu-content span {
    transform: translate(-50%, -10px);
    opacity: 1; }
  .GroupPageAllFeed .header {
    color: #000;
    padding: 1em; }
  .GroupPageAllFeed .header::before, .GroupPageAllFeed .header::after {
    content: '';
    display: table; }
  .GroupPageAllFeed .header::after {
    clear: both; }
  .GroupPageAllFeed .header .date {
    float: left;
    font-size: 12px; }
  .GroupPageAllFeed .menu-content {
    float: right; }
  .GroupPageAllFeed .menu-content li {
    margin: 0 5px;
    position: relative; }
  .GroupPageAllFeed .menu-content span {
    transition: all 0.3s;
    opacity: 0; }
  .GroupPageAllFeed .example-2 .data {
    color: #000;
    transform: translateY(calc(70px + 4em)); }
  .GroupPageAllFeed .title a {
    color: #000; }
  .GroupPageAllFeed .button {
    display: block;
    width: 100px;
    margin: 2em auto 1em;
    text-align: center;
    font-size: 12px;
    color: #000;
    line-height: 1;
    position: relative;
    font-weight: 700; }

.Messages {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; }

.Messages_friends-messages-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 75%; }

.Messages_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px black;
  width: 80%;
  height: 100%;
  overflow: scroll; }
  .Messages_container .Messages_temporary {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid black; }
    .Messages_container .Messages_temporary .messages_user {
      border: 1px solid black;
      padding: 5px;
      width: 100px;
      height: 30px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 10px; }
    .Messages_container .Messages_temporary .messages_subject {
      padding: 5px;
      width: 300px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
    .Messages_container .Messages_temporary .messages_time {
      color: gray;
      padding: 5px;
      width: 75px; }
    .Messages_container .Messages_temporary .usericonholder {
      display: flex;
      width: 150px;
      justify-content: center;
      align-items: center;
      flex-direction: row; }
    .Messages_container .Messages_temporary .messages_icon {
      margin: 10px; }
    .Messages_container .Messages_temporary .messages_read {
      margin: 10px; }

.Messages_messagefeedmodal {
  margin: 20px;
  width: 75%;
  border-bottom: solid 1px gray;
  display: flex;
  justify-content: row; }
  .Messages_messagefeedmodal .Messages_messagefeedmodal-sender {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007cbe;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.Messages_read-modal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.Messages_read-modal_textbox {
  width: 75%;
  margin: 20px; }

.Messages_friends-container {
  border: solid 1px black;
  height: 100%;
  width: 20%;
  overflow: scroll; }
  .Messages_friends-container .myFriends-header {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: white;
    font-size: 20px; }
  .Messages_friends-container .Messages_friend-holder {
    width: 100%;
    height: 18%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-bottom: solid 1px gray; }
    .Messages_friends-container .Messages_friend-holder .Messages_friend-holder-img {
      width: 30%;
      border-radius: 50%; }
    .Messages_friends-container .Messages_friend-holder .Messages_friend-holder-username {
      width: 50%;
      padding-left: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 15px; }

.Messages_modal-userholder {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 20px; }
  .Messages_modal-userholder .Messages_friend-holder-img {
    height: 20%;
    width: 20%; }
  .Messages_modal-userholder .Messages_username-header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 30px;
    margin-left: 10px; }

.Navbar {
  /*the colors of the different columns*/ }
  .Navbar .side-menu {
    width: 14em;
    height: auto;
    margin: 4em auto 0;
    font-size: 1em;
    line-height: 2em;
    color: #C0B283;
    font-weight: 700;
    letter-spacing: -0.1em;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10em; }
  .Navbar .side-menu ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .Navbar .side-menu ul li {
    display: block;
    background-color: #333;
    height: 6.5vh;
    padding: 1em 1.5em;
    position: relative;
    -webkit-transition: -webkit-transform 0.5s,     background-color .5s, color .5s;
    transition: transform .5s, background-color .5s, color .5s; }
  .Navbar .side-menu ul li:nth-child(1) {
    background-color: #fff;
    border: 2px solid #000;
    border-bottom: none; }
  .Navbar .side-menu ul li:nth-child(2) {
    background-color: #fff;
    border: 2px solid #000; }
  .Navbar .side-menu ul li:nth-child(3) {
    background-color: #fff;
    border: 2px solid #000; }
  .Navbar .side-menu ul li:nth-child(4) {
    background-color: #fff;
    border: 2px solid #000;
    border-bottom: none;
    border-top: none; }
  .Navbar .side-menu ul li:nth-child(5) {
    background-color: #fff;
    border: 2px solid #000; }
  .Navbar .side-menu ul li:nth-child(6) {
    background-color: #fff;
    border: 2px solid #000; }
  .Navbar .side-menu ul li:hover {
    background-color: #000;
    /*you can make different colors depending on the nth-child like above*/
    -webkit-transform: translateX(10em);
    transform: translateX(10em);
    /*equal to left in the .side-menu*/ }
  .Navbar .side-menu ul li a {
    display: block;
    color: #C0B283;
    text-decoration: none; }
  .Navbar .side-menu ul li span {
    display: block;
    position: absolute;
    font-size: 1em;
    line-height: 2em;
    height: 3vh;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    padding: 1em 1.5em;
    right: 0.16666666666667em;
    color: #C0B283; }
  .Navbar i.icon {
    font-size: 2em;
    margin-right: -.8vw;
    text-decoration: none;
    cursor: pointer;
    color: #C0B283; }
  .Navbar .fix_link {
    text-decoration: none;
    cursor: pointer;
    color: #C0B283; }
