@import url("https://fonts.googleapis.com/css?family=Roboto");
.Events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .Events .events-holder {
    width: 75%;
    height: 100%;
    border: solid 1px black; }
  .Events .featured-event {
    width: 200px;
    height: 400px;
    border: solid 1px black; }
  .Events .event {
    width: 100px;
    height: 200px;
    border: solid 1px black; }
  .Events .modal {
    padding: 10px; }
    .Events .modal .positioning-wrapper {
      display: flex;
      justify-content: space-between; }
    .Events .modal .outer-input-wrapper {
      width: 100%;
      height: 33%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-right: 5px;
      padding-left: 5px; }
    .Events .modal .left-wrapper {
      width: 48%;
      height: 250px;
      display: flex;
      flex-direction: column;
      border: solid 1px #d1c8c8;
      padding: 5px;
      border-radius: 10px; }
    .Events .modal .input-wrapper {
      display: flex;
      flex-direction: column; }
    .Events .modal .right-wrapper {
      width: 48%;
      height: 250px;
      border: solid 1px #d1c8c8;
      border-radius: 5px; }
    .Events .modal .outer-input-wrapper-img {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(158, 143, 143, 0.1);
      padding: 5px; }
    .Events .modal .img {
      min-height: 20%;
      min-width: 20%;
      max-height: 100%;
      max-width: 100%;
      border-radius: 5px; }
    .Events .modal .input-wrapper-imgurl {
      width: 100%;
      height: 33%;
      display: flex;
      flex-direction: column;
      padding-right: 5px;
      padding-left: 5px; }
    .Events .modal .input-wrapper-desc {
      display: flex;
      flex-direction: column;
      margin-top: 10px; }

.GroupPageAllFeed .card {
  font-family: 'Lato', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 0.5vh 1%;
  min-width: 30vw;
  max-width: 35vw;
  width: 100vw;
  background-color: #ffffff;
  color: #2B2B2B;
  text-align: center;
  font-size: .8vh;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); }

.GroupPageAllFeed .card img {
  max-width: 100%;
  vertical-align: top;
  position: relative; }

.GroupPageAllFeed .card figcaption {
  padding: 10%;
  padding-bottom: calc(25%);
  background-color: #ffffff; }

.GroupPageAllFeed .card h4 {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 1.7vh;
  font-weight: 400;
  line-height: 1.8vh;
  margin: 3px 0; }

.GroupPageAllFeed .card h5 {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #888;
  letter-spacing: 1px; }

.GroupPageAllFeed .card footer {
  border-top: 1px solid rgba(0, 0, 0, 0.065);
  padding: 0 1.12vw;
  font-size: 1.2vh;
  line-height: 2.7vh;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }

.GroupPageAllFeed .card footer .icons {
  position: absolute;
  right: 1.12vw;
  top: 0; }

.GroupPageAllFeed .card footer .icons > div {
  display: inline-block;
  margin-left: .44vw; }

.GroupPageAllFeed .card footer .icons i {
  display: inline-block;
  margin-right: .27vw;
  font-size: 1em; }

.GroupPageAllFeed .fix-link {
  cursor: pointer;
  text-decoration: none;
  color: #000; }

.Messages {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; }

.Messages_friends-messages-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 75%; }

.Messages_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px black;
  width: 80%;
  height: 100%;
  overflow: scroll; }
  .Messages_container .Messages_temporary {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid black; }
    .Messages_container .Messages_temporary .messages_user {
      border: 1px solid black;
      padding: 5px;
      width: 100px;
      height: 30px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 10px; }
    .Messages_container .Messages_temporary .messages_subject {
      padding: 5px;
      width: 300px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
    .Messages_container .Messages_temporary .messages_time {
      color: gray;
      padding: 5px;
      width: 75px; }
    .Messages_container .Messages_temporary .usericonholder {
      display: flex;
      width: 150px;
      justify-content: center;
      align-items: center;
      flex-direction: row; }
    .Messages_container .Messages_temporary .messages_icon {
      margin: 10px; }
    .Messages_container .Messages_temporary .messages_read {
      margin: 10px; }

.Messages_messagefeedmodal {
  margin: 20px;
  width: 75%;
  border-bottom: solid 1px gray;
  display: flex;
  justify-content: row; }
  .Messages_messagefeedmodal .Messages_messagefeedmodal-sender {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007cbe;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.Messages_read-modal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.Messages_read-modal_textbox {
  width: 75%;
  margin: 20px; }

.Messages_friends-container {
  border: solid 1px black;
  height: 100%;
  width: 20%;
  overflow: scroll; }
  .Messages_friends-container .myFriends-header {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: white;
    font-size: 20px; }
  .Messages_friends-container .Messages_friend-holder {
    width: 100%;
    height: 18%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-bottom: solid 1px gray; }
    .Messages_friends-container .Messages_friend-holder .Messages_friend-holder-img {
      width: 30%;
      border-radius: 50%; }
    .Messages_friends-container .Messages_friend-holder .Messages_friend-holder-username {
      width: 50%;
      padding-left: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 15px; }

.Messages_modal-userholder {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 20px; }
  .Messages_modal-userholder .Messages_friend-holder-img {
    height: 20%;
    width: 20%; }
  .Messages_modal-userholder .Messages_username-header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 30px;
    margin-left: 10px; }

.Navbar {
  /*the colors of the different columns*/ }
  .Navbar .side-menu {
    width: 14em;
    height: auto;
    margin: 4em auto 0;
    font-size: 1em;
    line-height: 2em;
    color: #C0B283;
    font-weight: 700;
    letter-spacing: -0.1em;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10em; }
  .Navbar .side-menu ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .Navbar .side-menu ul li {
    display: block;
    background-color: #333;
    height: 6.5vh;
    padding: 1em 1.5em;
    position: relative;
    -webkit-transition: -webkit-transform 0.5s,     background-color .5s, color .5s;
    transition: transform .5s, background-color .5s, color .5s; }
  .Navbar .side-menu ul li:nth-child(1) {
    background-color: #fff;
    border: 2px solid #000;
    border-bottom: none; }
  .Navbar .side-menu ul li:nth-child(2) {
    background-color: #fff;
    border: 2px solid #000; }
  .Navbar .side-menu ul li:nth-child(3) {
    background-color: #fff;
    border: 2px solid #000; }
  .Navbar .side-menu ul li:nth-child(4) {
    background-color: #fff;
    border: 2px solid #000;
    border-bottom: none;
    border-top: none; }
  .Navbar .side-menu ul li:nth-child(5) {
    background-color: #fff;
    border: 2px solid #000; }
  .Navbar .side-menu ul li:nth-child(6) {
    background-color: #fff;
    border: 2px solid #000; }
  .Navbar .side-menu ul li:hover {
    background-color: #000;
    /*you can make different colors depending on the nth-child like above*/
    -webkit-transform: translateX(10em);
    transform: translateX(10em);
    /*equal to left in the .side-menu*/ }
  .Navbar .side-menu ul li a {
    display: block;
    color: #C0B283;
    text-decoration: none; }
  .Navbar .side-menu ul li span {
    display: block;
    position: absolute;
    font-size: 1em;
    line-height: 2em;
    height: 3vh;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    padding: 1em 1.5em;
    right: 0.16666666666667em;
    color: #C0B283; }
  .Navbar i.icon {
    font-size: 2em;
    margin-right: -.8vw;
    text-decoration: none;
    cursor: pointer;
    color: #C0B283; }
  .Navbar .fix_link {
    text-decoration: none;
    cursor: pointer;
    color: #C0B283; }

.PostPage button {
  border: none; }

.PostPage .HeartBtn {
  color: transparent;
  -webkit-text-stroke: 1px black; }

.PostPage .RedHeartBtn {
  color: red; }
