@import '../../styles/_colors.scss';

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato');

.Navbar {
  .nav-main {
    width: 100vw;
    right: 0;
    left: 0;
}

.nav-parent {
    width: 100vw;
    height: 5vh;
}


.nav-logo-header {
    color: $white;
    font-family: 'Lato';
    text-decoration: none;
    cursor: pointer;
}

.nav-logo-parent {
    height: 5vh;
    width: 10vw;
    display: flex;
    align-items: center;
    margin-left: 1.12vw;
    position: fixed;
}

.nav-menu-icon {
    position: absolute;;
    color: $white;
    top:1.2vh;
    right:1.12vw;
    z-index:9;
    font-size: 2.4em;
    line-height: .3em;
    opacity:0.6;
    cursor: pointer;        
}

.hide {
    display: none;
}

a {
  color: $white;
  font-family: 'Helvetica';
}

.nav-drop-down {
    background:rgba(0,0,0,0.8);
    position:fixed;
    width:15vw;
    height:100vh;
    right:-16.668vw;
    top: 0px;
    box-sizing:border-box;
    transition:all 0.2s ease;
    z-index:99
}

.nav-drop-down-open {
    right: 0;
}

.nav-drop-down-parent {
    margin-top: 5vh;
    font-family: 'Lato';
    font-size: .7em;    
    margin-left:3vw; 
    height: 40vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fix-link {
    color: $white;
    text-decoration: none;
    cursor: pointer;
}

.fix-link :hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.fix-link2 {
  color: $white;
  text-decoration: none;
  cursor: pointer;
}

}