.GroupPageAllFeed {
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);


    .fix-link {
        cursor: pointer;
        text-decoration: none;
        color: #000;
    }

    h1 {
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
    }
    
    .row {
      max-width: 900px;
      margin: 50px auto 0;
    }
    
    .card {
      float: left;
      padding: 0 1.7rem;
      width: 33%;
    }

    .card .menu-content {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    .card .menu-content::before, .card .menu-content::after {
      content: '';
      display: table;
    }

    .card .menu-content::after {
      clear: both;
    }

    .card .menu-content li {
      display: inline-block;
    }

    .card .menu-content span {
      position: absolute;
      left: 50%;
      top: 0;
      font-size: 10px;
      font-weight: 700;
      font-family: 'Open Sans';
      transform: translate(-50%, 0);
    }

    .card .wrapper {
      background-color: #fff;
      min-height: 540px;
      position: relative;
      overflow: hidden;
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
      margin-bottom: 100px;
    }

    .card .wrapper:hover .data {
        transform: translateY(0);
    }

    .card .data {
      position: absolute;
      bottom: 0;
      width: 100%;
      transform: translateY(calc(70px + 1em));
      transition: transform 0.3s;
    }

    .card .data .content {
      padding: .5em;
      position: relative;
      z-index: 1;
    }

    .card .author {
      font-size: 12px;
    }

    .card .title {
      margin-top: 10px;
    }

    .card .text {
      height: 70px;
      margin: 0;
    }

    .card input[type='checkbox'] {
      display: none;
    }
    
    .wrapper {
      background: url(http://www.qygjxz.com/data/out/255/5074721-white-background-images.jpg) center/cover no-repeat;
    }

    .wrapper:hover .menu-content span {
      transform: translate(-50%, -10px);
      opacity: 1;
    }

    .header {
      color: #000;
      padding: 1em;
    }

    .header::before, .header::after {
      content: '';
      display: table;
    }

    .header::after {
      clear: both;
    }

    .header .date {
      float: left;
      font-size: 12px;
    }

    .menu-content {
      float: right;
    }

    .menu-content li {
      margin: 0 5px;
      position: relative;
    }

    .menu-content span {
      transition: all 0.3s;
      opacity: 0;
    }

    .example-2 .data {
      color: #000;
      transform: translateY(calc(70px + 4em));
    }

    .title a {
      color: #000;
    }

    .button {
      display: block;
      width: 100px;
      margin: 2em auto 1em;
      text-align: center;
      font-size: 12px;
      color: #000;
      line-height: 1;
      position: relative;
      font-weight: 700;
    }
}