@import '../../styles/_colors.scss';
@import url('https://fonts.googleapis.com/css?family=Raleway');


.GroupPageAllFeed {

  .main {
    height: 100%;
    width: 100vw;
    font-family: 'Raleway';
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid $white;
    border-bottom: none;
    width: 68vw;
  }

  .card {
    // font-family: 'Lato', Arial, sans-serif;
    position: relative;
    // float: left;
    // overflow: hidden;
    // margin: 0.5vh 1%;
    min-width: 30vw;
    max-width: 60vw;
    width: 100vw;
    background-color: #ffffff;
    color: #2B2B2B;
    text-align: center;
    font-size: .8vh;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }
  
  .card img {
    max-width: 100%;
    vertical-align: top;
    position: relative;
  }
  
  .card figcaption {
    padding: 10%;
    padding-bottom: calc(25%);
    background-color: #ffffff;
  }
  
  .card h4 {
    font-family: 'Oswald';
    text-transform: uppercase;
    font-size: 1.7vh;
    font-weight: 400;
    line-height: 1.8vh;
    margin: 3px 0;
  }
  
  .card h5 {
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    color: #888;
    letter-spacing: 1px;
  }
  
  .card footer {
    border-top: 1px solid rgba(0, 0, 0, 0.065);
    padding: 0 1.12vw;
    font-size: 1.2vh;
    line-height: 2.7vh;
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .card footer .icons {
    position: absolute;
    right: 1.12vw;
    top: 0;
  }
  
  .card footer .icons > div {
    display: inline-block;
    margin-left: .44vw;
  }
  
  .card footer .icons i {
    display: inline-block;
    margin-right: .27vw;
    font-size: 1em;
  }

  .fix-link {
    cursor: pointer;
    text-decoration: none;
    color: #000;
  }

  .new-post-btn {
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    font-size: 4vh;
    padding-top: 1vh;
  }

  .new-post-btn div {
    padding-top: 3vh;
  }

  .np-btn {
    padding-top: 1vh;
  }

  .card-container {
    padding-top: 3vh;
  }
}